<form>

  <mat-icon>face</mat-icon>&nbsp;
  <mat-form-field>
    <mat-label>Votre prénom :</mat-label>
    <input type="text" matInput [formControl]="prenom">
  </mat-form-field>

  <p></p>
  <p>☼ Touched : {{prenom.touched}}</p>
  <p>☼ Pristine : {{prenom.pristine}}</p>
  <p>☼ Dirty : {{prenom.dirty}}</p>
  <p>☼ Valid : {{prenom.valid}}</p>

  <p [hidden]="!prenom.touched && !prenom.valid" style="color:lightgreen">Le champ prénom est validé !</p>

  <p [hidden]="prenom.touched || prenom.valid" style="color:red">Le champ prénom est requis !</p>

  <div *ngIf="prenom.touched && prenom.valid; then blockOk else blockNotOk"></div>

  <ng-template #blockOk>☼ Le champ est validé !</ng-template>
  <ng-template #blockNotOk>☼ Le champ est requis !</ng-template>

  <p></p>

  <mat-icon>settings</mat-icon>&nbsp;
  <mat-form-field>
    <mat-label>Votre message :</mat-label>
    <textarea matInput [formControl]="message"></textarea>
  </mat-form-field>

  <p></p>

  <button mat-raised-button color="primary" type="submit">
    <mat-icon>login</mat-icon>&nbsp; submit ...
  </button>

  <p></p>
</form>
