<h1>Les Forms array</h1>

<form [formGroup]="cursus" (submit)="onSubmit()">

  <p>
    <mat-form-field>
      <mat-label>Donner un nom au cursus de formation :</mat-label>
      <input matInput type="text" formControlName="nomCursus">
    </mat-form-field>
  </p>

  <p>Ajouter une formation </p>
  <p>
    <mat-icon>double_arrow</mat-icon>&nbsp;
    <button mat-mini-fab type="button" (click)="addFormation()">
      <mat-icon>add</mat-icon>
    </button>
  </p>

  <div formArrayName="formations">
    <div *ngFor="let formation of formations.controls; let i=index">
      <div [formGroupName]="i">
        <mat-form-field>
          <!-- {{i}} -->
          <mat-label>Formation</mat-label>
          <input matInput type="text" formControlName="formation">
        </mat-form-field>&nbsp;

        <mat-form-field>
          <mat-label>Niveau</mat-label>
          <mat-select formControlName="niveau">
            <mat-option value="niveau1">Niveau 1</mat-option>
            <mat-option value="niveau2">Perfectionnement</mat-option>
            <mat-option value="niveau3">Expert</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-icon (click)="removeFormation(i)">delete</mat-icon>
    </div>
  </div>

  <button mat-raised-button type="submit"> <mat-icon>stars</mat-icon></button>

</form>


