<p>home !</p>
<h1>{{title}}</h1>
<p>Material : ng add @angular/material </p>

<!--<mat-icon [color]="'primary'">add</mat-icon>-->
<!--<mat-icon [color]="'warn'">waterfall_chart</mat-icon>-->
<!--<mat-icon [color]="'warn'">calendar_today</mat-icon>-->

<!--<button mat-raised-button [color]="'primary'">TEST</button>-->


<button mat-raised-button [color]="'primary'" (click)="doAnimation()">
  <mat-icon [color]="'warn'">waterfall_chart</mat-icon>
  Animations
</button>


<div style="height: 300px">
  <div [@triggerOpenClose]="flag ? 'open' : 'closed'">

  </div>



<hr>


<div class="boite">

  <form>

    <mat-icon>face</mat-icon>&nbsp;
    <mat-form-field>
      <mat-label>Votre prénom</mat-label>
      <input type="text" matInput required>
    </mat-form-field>

    <p></p>

    <mat-icon>settings</mat-icon>&nbsp;
    <mat-form-field>
      <mat-label>Votre message</mat-label>
      <textarea matInput required></textarea>
    </mat-form-field>

    <p></p>

    <mat-icon>calendar_today</mat-icon>&nbsp;
    <mat-form-field appearance="fill">
      <mat-label>Choisir une date</mat-label>
      <input matInput [matDatepicker]="date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <p></p>

    <button mat-raised-button color="primary">Envoyer</button>


  </form>


</div>






<div></div>




